@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Spectral:ital,wght@1,300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 0px;
}

header {
    height: 20rem;
    background-image: url(./back.jpg);
}

#myPhotoCover {
    margin-top: 10rem;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-color: #2E2828;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}

#myPhoto {
    width: 14rem;
    height: 14rem;
    background: url(./I.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    border: .5rem solid #9e9e9e;
    margin: 2rem auto;
}

main {
    background-color: #2E2828;
    color: white;
    padding: 7rem 0rem;
}

main h1 {
    font-family: 'Spectral', sans-serif;
}

.linkBox {
    height: 50px;
    width: 300px;
    margin: 40px auto auto auto;
    border: 1px solid #fff;
    text-transform: uppercase;
    line-height: 50px;
}

.linkBox a {
    display:inline-block;
    width:100%;
    height:100%;
    color: inherit;
    text-decoration: inherit;
}
